legend {
	padding-bottom: 5px;
	font-weight: bold;
}

#petAprob li {
	background-color: #80ff80;
	margin: 0;
	padding: 5px;
}

#petPend, #petRechazadas, #petAprob {	
	text-decoration: none;
}

ul {
	display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 0;
	gap: 0;
}

#petPend li {
	background-color: #ff8000;
	margin: 0;
	padding: 5px;
}

#petRechazadas li {
	background-color: #ff0000;
	margin: 0;
	padding: 5px;
}

#peticion {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin: 30px 20px;
	gap: 18px;
	align-items: start;
}