* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

img {
	width: 20px;
}

input[type="button"], input[type="submit"] {
	margin-top: 20px;
	padding: 12px;
	background-color: #004FA7;
	color: white;
	border: none;
	border-radius: 6px;
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
}

h2 {
	text-align: center;
}

h3 {
	margin-top: 50px;
	margin-left: 20px;
	text-align: left;	
}

#Actualizardatos {
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
	position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);	
}

#Actualizardatos input, h2 {
	margin-bottom: 10px;
}

#Actualizardatos input[type="button"], #Actualizardatos input[type="submit"] {
	text-align: center;
}

.error {
	color: #FE5151;
	font-weight: bold;
}
	
.seccion {
	text-align: center;
}