input[type="button"], input[type="submit"] {
	margin-top: 20px;
	padding: 12px;
	background-color: #004FA7;
	color: white;
	border: none;
	border-radius: 6px;
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
}

h2 {
	text-align: center;	
}

#Actualizarcom {
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
	position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);	
}

#Actualizarcom input, h2 {
	margin-bottom: 10px;
}

#Actualizarcom input[type="button"], #Actualizarcom input[type="submit"] {
	text-align: center;
}
	
.seccion {
	margin-top: 10px;
	text-align: center;
}