<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
 <link rel="stylesheet" href="../static/css/Sesion.css" th:href="@{/css/Sesion.css}">
<title>Inicio de Sesión</title>
</head>
<body>
	<section id="formIniSesion">
	 <form th:action="@{/inicio}" th:object="${usuario}" method="post">
	        <fieldset>
				<legend>Iniciar sesión</legend>
		        <div>
		            <label for="cajaemail">Introduce tu correo electrónico:</label>
		            <input type="text" id="cajaemail" th:field="*{email}" placeholder="nombre.primerapellido@academiapostal.es" required>
		        </div>
		
		        <div>
		            <label for="cajapassword">Introduce tu contraseña:</label>
		            <input type="password" id="cajapassword" th:field="*{clave}" required class="visible">
		            <img alt="ojo" src="/imagenes/ojo_cerrado.png" class="imagenojo">
		        </div>
		
		        <input type="submit" value="Iniciar sesión">
		
		        <div class="error" th:if="${error}">
		            <span th:text="${error}"></span>
		        </div>
		        <span>Si no tienes cuenta, <a th:href="@{/registro}">haz click aquí</a> para registrarse.</span>		    
			</fieldset>
		</form>
	</section>
	<script src="js/Contrasenha.js"></script>
</body>
</html>