<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
<head th:fragment="icono">
	<link rel="stylesheet" th:href="@{/css/Cabecera.css}">
	<link rel="icon" type="image/x-icon" th:href="@{/imagenes/favicon.ico}">
</head>
<body>

 <header th:fragment="cab">
        <div>
           <img src="/imagenes/perfil.png" alt="Perfil" class="avatar" id="perfil">
           <div class="contenedor" id="menuPerfil">
				<ul>
					<li><a th:href="@{/perfilUsuario}">Ver mis datos</a></li>
					<li th:if="${session.usuario.tipoUsuario.name().equals('GESTOR')}"><a th:href="@{/reseteoContrasenha}">Reseteo de contraseña</a></li>
					<li><a th:href="@{/sesioncerrada}">Cerrar Sesión</a></li>
				</ul>
			</div>            
        </div>
        <div>
        	<nav>
        		<a th:href="@{/paginaInicio}">Inicio</a>
        		<span id="buscar">Buscar peticiones por</span>
        		<div id="peticiones">
        			<ul>
        				<li><a th:href="@{/buscarpetAnho}">Año</a></li>
        				<li id="cent" th:if="${session.usuario.tipoUsuario.name().equals('GESTOR')}">Centro
        					<ul id="centro">
        						<li th:each="c : ${centros}"><a th:href="@{/buscarCentro(cent=${c})}" th:text="${c}"></a></li>
        					</ul>
        				</li>
        				<li id="est">Estado
	        				<ul id="estadoPeticion">
	        					<li th:each="es : ${estados}"><a th:href="@{/buscarEstado(estado=${es})}" th:text="${es}"></a></li>
	        				</ul>
	        			</li>
        				<li th:if="${session.usuario.tipoUsuario.name().equals('GESTOR')}"><a th:href="@{/buscarpetUsuario}">Usuario</a></li>
        				<li th:if="${session.usuario.tipoUsuario.name().equals('GESTOR')}"><a th:href="@{/busqueda}">Año, estado, centro y usuario</a></li>
        				<li th:if="${session.usuario.tipoUsuario.name().equals('EMPLEADO')}"><a th:href="@{/buscarAnhoEstado}">Año y estado</a></li> 
        			</ul>
        		</div>
        		<div id="ContenedorPeticiones">
        			<span th:if="${session.usuario.tipoUsuario.name().equals('GESTOR')}" id="peticionesMesRango">Peticiones por</span>
	        		<div th:if="${session.usuario.tipoUsuario.name().equals('GESTOR')}" id="peticionesAño">
	        			<ul>
	        				<li><a th:href="@{/peticionesporFecha}">Rango de fechas</a></li>
	        			</ul>
	        		</div>
        		</div>
        		<a th:if="${session.usuario.tipoUsuario.name().equals('EMPLEADO')}" th:href="@{/realizarPeticion}">Realizar peticiones</a>
        	</nav>
        </div>
    </header>
</body>
</html>