<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>

 <header th:fragment="cab">
 	    <a href="/">
	        <img src="/img/logo_afdtbnb_hd.png" alt="Logo" class="logo">
		</a>
        <div th:if="${session.usuario != null}">
            <img src="/imagenes/perfil.png" alt="Perfil" class="avatar" id="perfil">
           <div class="contenedor" id="menuPerfil">
		<ul>
			<li><a th:href="@{/irmiperfil}">Ver mis datos</a></li>
			<li th:if="${session.usuario.tipoUsuario.name() == 'GESTOR'}">Resetear la contraseña de</li>
			<li><a th:href="@{/sesioncerrada}">Cerrar Sesión</a></li>
		</ul>
	</div>            
        </div>
        <div>
        	<nav>
        		<a th:href="@{/Inicio}">Inicio</a>
        		<a th:href="@{/Inicio}">Buscar peticiones por</a>
        		<a th:if="${session.usuario.tipoUsuario.name() == 'GESTOR'}" th:href="@{/peticiones}">Peticiones pendientes</a>
        		<a th:if="${session.usuario.tipoUsuario.name() == 'EMPLEADO'}" th:href="@{/}">Realizar peticiones</a>
        		<a th:href="@{/Inicio}">Inicio</a>
        	</nav>
        </div>
    </header>
</body>
</html>