<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="_csrf" th:content="${_csrf.token}">
<head th:replace="~{comun/Cabecera :: icono}"></head>
<link rel="stylesheet" href="../static/css/Listas.css" th:href="@{/css/Listas.css}"/>
<link rel="stylesheet" href="../static/css/Buscar.css" th:href="@{/css/Buscar.css}">
<title>Peticiones por año</title>
</head>
<body>
	<header th:replace="~{comun/Cabecera :: cab}"></header>
	<fieldset>
	<legend>Cuadro de búsqueda</legend>
		<form th:action="@{/buscarpetAnho}" method="post">
			<div>
				<label for="txtAnho">Introduce un año:</label>
				<input type="text" id="txtAnho" name="anho">
			</div>
			<div class="error" th:if="${errorR}">
			     <span th:text="${errorR}"></span>
			</div>
			<input type="submit" id="btnBuscar" value="Buscar">
		</form>
	</fieldset>
		<div th:replace="~{comun/Listados :: boton}"></div>	
		<span th:if="${peticiones != null and #lists.isEmpty(peticiones)}">No se realizaron peticiones en ese año.</span>
		<div th:replace="~{comun/Listados :: list}"></div>
	<script type="text/javascript" th:src="@{/js/Menu.js}"></script>
	<script th:if="${session.usuario.tipoUsuario.name().equals('GESTOR')}" th:src="@{/js/MenuMesAnho.js}"></script>
	<script th:replace="~{comun/Listados :: export}"></script>
</body>
</html>