<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../static/css/Cabecera.css" th:href="@{/css/Cabecera.css}"/>
	<link rel="stylesheet" href="../static/css/Inicio.css" th:href="@{/css/Inicio.css}">
	<title>Página de inicio</title>
</head>
<body>

	<header th:replace="~{comun/Cabecera :: cab}"></header>
	<div id="peticion">
		<fieldset>
			<legend class="peticiones">Peticiones pendientes</legend>
			<span th:if="${peticionVacacionesPendientes == null or #lists.isEmpty(peticionVacacionesPendientes)}">No hay peticiones pendientes.</span>

			<a th:each="pet : ${peticionVacacionesPendientes}" th:href="@{/peticionesPendientes}">
				<ul id="petPend">
					<li>IdPeticion: <span th:text="${pet.idPeticion}"></span></li>
					<li>Año: <span th:text="${pet.año}"></span></li>
					<li>Comentario: <span th:text="${pet.comentario}"></span></li>
				</ul>
			</a>
		</fieldset>
		<fieldset>
			<legend class="peticiones">Peticiones aprobadas</legend>			
			<span th:if="${peticionVacacionesAprobadas == null or #lists.isEmpty(peticionVacacionesAprobadas)}">No hay peticiones aprobadas.</span>

			<ul id="petAprob" th:each="pet : ${peticionVacacionesAprobadas}" th:unless="${peticionVacacionesAprobadas == null or #lists.isEmpty(peticionVacacionesAprobadas)}">
				<li>IdPeticion: <span th:text="${pet.idPeticion}"></span></li>
				<li>Año: <span th:text="${pet.año}"></span></li>
				<li>Comentario: <span th:text="${pet.comentario}"></span></li>
			</ul>
		</fieldset>

		<fieldset>
			<legend class="peticiones">Peticiones rechazadas</legend>
			<span th:if="${peticionVacacionesRechazadas == null or #lists.isEmpty(peticionVacacionesRechazadas)}">No hay peticiones rechazadas.</span>

			<ul id="petRechazadas" th:each="pet : ${peticionVacacionesRechazadas}" th:unless="${peticionVacacionesRechazadas == null or #lists.isEmpty(peticionVacacionesRechazadas)}">
				<li>IdPeticion: <span th:text="${pet.idPeticion}"></span></li>
				<li>Año: <span th:text="${pet.año}"></span></li>
				<li>Comentario: <span th:text="${pet.comentario}"></span></li>
			</ul>
		</fieldset>
	</div>
	<script th:src="@{/js/Menu.js}"></script>
</body>
</html>