<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<head th:replace="~{comun/Cabecera :: icono}"></head>
	<link rel="stylesheet" href="../static/css/Peticiones.css" th:href="@{/css/Peticiones.css}">
	<title>Detalle peticiones</title>
</head>
<body>
	<header th:replace="~{comun/Cabecera :: cab}"></header>
            <div class="seccion">
                <p>Id de la petición: <span th:text="${peticion.idPeticion}"></span></p>
                <p>Fecha de inicio: <span th:text="${peticion.fechaInicio}"></span></p>
                <p>Fecha de fin: <span th:text="${peticion.fechaFin}"></span></p>
                <p>Año: <span th:text="${peticion.año}"></span></p>
                <p th:if="${peticion.comentario != null}">Comentario: <span th:text="${peticion.comentario}"></span></p>
                <p>Estado de la petición: <span th:text="${peticion.estado}"></span></p>
                <p>Usuario de la petición: <span th:text="${peticion.usuario.nombre + ' ' + peticion.usuario.apellidos}"></span></p>
                <div th:if="${usuario.tipoUsuario.name().equals('GESTOR') and peticion.estado.name().equals('PENDIENTE')}">
                	<input type="button" value="Aprobar petición" th:onclick="|modificarComentario(${peticion.idPeticion}, 'APROBADA')|">
                	<input type="button"value="Rechazar petición" th:onclick="|modificarComentario(${peticion.idPeticion}, 'RECHAZADA')|">
                </div>
				<input type="button" id="inicio" value="Volver a la página de inicio" th:onclick="|window.location.href='@{/paginaInicio}'|">
			</div>
			<dialog id="Actualizarcom">
				<h2>Añadir comentario</h2>
				<form method="post" th:action="@{/actualizarCom}" th:object="${peticion}">
					<input type="hidden" name="id" th:value="${peticion.idPeticion}" id="idPet">
					<input type="hidden" id="estado" name="estado">
					<label for="txtCom">Introduce un comentario:</label>
					<input type="text" id="txtCom" name="com" th:value="${peticion.comentario}">       
					<input type="submit" value="Actualizar estado">
					<input type="button" id="cerrar" value="Cancelar">
				</form>				
		</dialog>			
	<script type="text/javascript" th:src="@{/js/Menu.js}"></script>
	<script type="text/javascript" th:if="${usuario.tipoUsuario.name().equals('GESTOR') and peticion.estado.name().equals('PENDIENTE')}" th:src="@{/js/Comentario.js}"></script>
</body>
</html>