<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../static/css/Cabecera.css" th:href="@{/css/Cabecera.css}"/>
	<link rel="stylesheet" href="../static/css/Peticion.css" th:href="@{/css/Peticion.css}">
	<title>Realizar peticiones de Vacaciones</title>
</head>
<body>
	<header th:replace="~{comun/Cabecera :: cab}"></header>
	<form th:action="@{/realizarPeticion}" th:object="${peticion}" method="post">		
		    <fieldset>
		    <legend>Realizar petición</legend>		
			    <div class="campo">
			        <label for="fechaInicio">Selecciona una fecha de inicio:</label>
			        <input type="date" id="fechaInicio" th:field="*{fechaInicio}" required>
			    </div>
			    <div class="campo">
			        <label for="fechaFin">Selecciona una fecha final:</label>
			        <input type="date" id="fechaFin" th:field="*{fechaFin}" required>
			    </div>
			    <div class="campo">
			        <label for="anho">Introduce un año:</label>
			        <input type="text" id="anho" name="anho" required>
			    </div>
			
			    <div class="campo">
			        <label for="txtcom">Añade un comentario:</label>
			        <input type="text" id="txtcom" name="com" th:field="*{comentario}">
			    </div>
			    <div class="error" th:if="${errorR}">
		            <span th:text="${errorR}"></span>
		        </div>
				<input type="submit" value="Realizar petición">
		    </fieldset>
		</form>
</body>
</html>